<html>
<head>
  <title>Quoting Dojo v3</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

</head>
  <body>
  <div id="main">
    <h1>Here are all of the quotes!</h1>
      <% for (var i = 0; i < data.length; i++) { %>
        <% var postDate = new Date(data[i].postedAt) %>
        <h2><%= data[i].quote %></h2>
        <blockquote>
          <h3>Posted by: <%= data[i].name %> on <%= moment(postDate).format("dddd, MMMM Do YYYY") %> at <%= moment(postDate).format("h:mm a") %></h3>
          <% if (data[i].likes > 1) { %>
            <h4>Liked <%= data[i].likes %> times!</h4>
          <% } %>
          <form class="like" action="">
            <input type="submit" value="Like This!" />
            <input type="hidden" value="<%= data[i].id %>" name="id" />
          </form>
        </blockquote><hr />
      <% } %>
    </div>
  <script>
  $('.like').on("submit", (function(e) {
    e.preventDefault();
    var data = {
      id: this.id.value,
    }
    $.post('like', data, function(e) {
      console.log("Success");
    })
    $.get('quotes', function(d) {
      $("#main").html(d);
    })
    console.log(data);
  }));
  </script>
  </body>
</html>
