<html>
  <head>

  </head>
  <body>
    <h1>Yooo <%= data.name %>!</h1>
    <h2>Here's that form you submitted:</h2>
    Name: <%= data.name %><br />
    Location: <%= data.location %><br />
    Favorite Language: <%= data.location %><br />
    Comment: <%= data.comment %>
  </body>
</html>
